<h1>All Data</h1>
<!-- <table class = 'table'>
    <thead>
        <tr>
            <th>No</th>
            <th>Name</th>
            <th>Address</th>
            <th>City</th>
            <th>State</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let customer of data">
            <td>{{customer.customerNo}}</td>
            <td>{{customer.name}}</td>
            <td>{{customer.address}}</td>
            <td>{{customer.city}}</td>
            <td>{{customer.state}}</td>
        </tr>
        
    </tbody>
</table> -->


<button class="userdata" id="userD" (click)="getUserData($event)">userdata</button>
<button (click)="getUserDataName()">sortname</button>
<button (click)="getUserByIDStatus()">getUserByIDStatus</button>

<table class = 'table1'>
    <thead>
        <tr>
            <th>Name</th>
            <th>Status</th>
            <th>Datecreated</th>
            <th>DateModified</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of apiData">
            <td>{{item.name}}</td>
            <td>{{item.status}}</td>
            <td>{{item.Datecreated}}</td>
            <td>{{item.DateModified}}</td>
            
        </tr>
        
    </tbody>
</table>

<table class = 'table2'>
    <thead>
        <tr>
            <th>Name</th>
            <th>Status</th>
            <th>Datecreated</th>
            <th>DateModified</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of userNameData">
            <td>{{item.name}}</td>
            <td>{{item.status}}</td>
            <td>{{item.Datecreated}}</td>
            <td>{{item.DateModified}}</td>
            
        </tr>
        
    </tbody>
</table>


<table class = 'table3'>
    <thead>
        <tr>
            <th>Name</th>
            <th>Status</th>
            <th>Datecreated</th>
            <th>DateModified</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of getUserByID">
            <td>{{item.name}}</td>
            <td>{{item.status}}</td>
            <td>{{item.Datecreated}}</td>
            <td>{{item.DateModified}}</td>
            
        </tr>
        
    </tbody>
</table>

<!-- <ul *ngFor="let customer of data">
    <li>{{customer.customerNo}}</li>
</ul> -->


<div>
    <h2 class="row justify-content-center">Contact Us</h2>
    <div class="row justify-content-center">
        <div class="col-md-6 text-left bg-white rounded shadow py-3">


            <form #userForm="ngForm" (ngSubmit)="submitForm(userForm)">
                <div class="form-group">
                  <label for="name">Name</label>
                  <input type="text" class="form-control" name="name" id="name" ngModel #name="ngModel" placeholder="Enter name">
                  
                </div>
                <div class="form-group">
                  <label for="status">Status</label>
                  <!-- --------- -->
                  <div class="form-check">
                   
                    <label class="form-check-label" >
                        <input class="form-check-input" type="radio" value="true" name="status" ngModel #status="ngModel">
                      True
                    </label>
                  
                  <br>
                    
                    <label class="form-check-label" > 
                        <input class="form-check-input" type="radio" value="false" name="status" ngModel #status="ngModel" >
                        False
                    </label>
                  </div>
                  <!-- ------------------- -->
                  <!-- <input type="text" class="form-control" name="status" id="status" ngModel #status="ngModel" placeholder="Enter Status"> -->
                </div>
                <div class="form-group">                  
                  <label for="pincode">Pincode</label>
                  <input type="text" class="form-control" name="Pincode" id="pincode" ngModel #Pincode="ngModel" placeholder="Enter Pincode">                  
                </div>
                <div class="form-group">                  
                    <label for="address">Address</label>
                    <input type="text" class="form-control" name="address" id="address" ngModel #address="ngModel" placeholder="Enter address">                  
                  </div>

                <button type="submit" class="btn btn-success">Submit</button>
                
                <button type="button" (click)="ResetForm(userForm)" class="btn btn-success">Reset</button>
              </form>


        </div>
    </div>
</div>